[submodule "dist/pxe"]
	path = dist/pxe
	url = git@github.com:puppetlabs/puppet-pxe.git
[submodule "dist/tftp"]
	path = dist/tftp
	url = git@github.com:puppetlabs/puppet-tftp.git
[submodule "dist/inetd"]
	path = dist/inetd
	url = git@github.com:puppetlabs/puppet-inetd.git
[submodule "dist/hiera"]
	path = dist/hiera
	url = git://github.com/ripienaar/hiera-puppet.git
